{% assign speakers=site.data.speakers | where: "slot", include.slot %}
    <a name="{{ include.slot }}" class="offsetanchor"></a>
{% if speakers.size == 0 %}
    <div class="talkspeaker">T.B.D.</div>
{% endif %}
{% if speakers.size > 0 %}
    {% for speaker in speakers %}
        <a href="speakers-and-talks.html#{{ speaker.short }}">
        <div class="talktitle">{{ speaker.title }}</div>
        <div class="talkspeaker">{{ speaker.name }}</div>
        </a>
        {% if speaker.copresenters.size > 0 %}
            {% for cp in speaker.copresenters %}
                <a href="speakers-and-talks.html#{{ cp.short }}">
                <div class="talkspeaker">{{ cp.name }}</div>
                </a>
            {% endfor %}
        {% endif %}
        {% if forloop.last == false %}
            &nbsp;
        {% endif %}
    {% endfor %}
{% endif %}
