---
layout: default
---

{{ content }}

<div class="bodybreak">&nbsp;</div>

<h1>Speakers and Events</h1>

<p class="tight">We are happy to have the following speakers at foss-north 2019.</p>

<p>Please visit our <a href="contribute.html#call-for-papers">Call for Papers</a> if you are interested in speaking at the event.</p>

<div>
{%- assign loopindex = 0 -%}
{%- for speaker in site.data.speakers -%}
    {%- assign rowcount = loopindex | modulo: 3 -%}
    {%- if rowcount == 0 -%}
        <div class="row">
    {%- endif -%}
    
    <div class="col-md-4">
        <a href="speakers-and-talks.html#{{ speaker.short }}" class="speakerfront">
            <img class="speakergrid" src="images/speaker-{{ speaker.short }}.png" alt="{{ speaker.name }}"><br />
            <b>{{ speaker.name | escape }}</b><br />
            {{ speaker.title | escape }}
        </a>
    </div>
    
    {%- if rowcount == 2 -%}
        </div>
    {%- endif -%}
    
    {%- assign loopindex = loopindex | plus: 1 -%}
{%- endfor -%}
{%- if rowcount != 2 -%}
    </div>
{%- endif -%}
</div>

<div class="bodybreak">&nbsp;</div>

<h1>Sponsors</h1>

<p class="tight">We would like to thank our sponsors for helping us making this possible.</p>
<p>If you want to help out by sponsoring us, please visit our <a href="contribute.html#call-for-sponsors">Call for Sponsors</a> for more information.</p>

{% assign gold_sponsors = site.data.sponsors | where:'level', 'gold' %}
{% assign silver_sponsors = site.data.sponsors | where:'level', 'silver' %}
{% assign base_sponsors = site.data.sponsors | where:'level', 'base' %}
{% assign partners = site.data.sponsors | where:'level', 'partner' %}

{%- if gold_sponsors.size > 0 -%}
    <h2>Gold Sponsors</h2>

    {%- for sponsor in gold_sponsors -%}
        <div>
            <a href="{{ sponsor.url }}">{{ sponsor.name | escape }}</a>
        </div>
    {%- endfor -%}
{%- endif -%}

{%- if silver_sponsors.size > 0 -%}
    <h2>Silver Sponsors</h2>

    {%- for sponsor in silver_sponsors -%}
        <div>
            <a href="{{ sponsor.url }}">{{ sponsor.name | escape }}</a>
        </div>
    {%- endfor -%}
{%- endif -%}

{%- if base_sponsors.size > 0 -%}
    <h2>Base Sponsors</h2>

    <div>
    {%- assign loopindex = 0 -%}
    {%- for sponsor in base_sponsors -%}
        {%- assign rowcount = loopindex | modulo: 3 -%}
        {%- if rowcount == 0 -%}
            <div class="row sponsorrow">
        {%- endif -%}
        
            <div class="col-md-4">
                <a href="{{ sponsor.url }}"><img class="sponsor" src="images/sponsor-{{ sponsor.short }}.png" alt="{{ sponsor.name | escape }}"></a>
            </div>
        
        {%- if rowcount == 2 -%}
            </div>
        {%- endif -%}
        
        {%- assign loopindex = loopindex | plus: 1 -%}
    {%- endfor -%}
    {%- if rowcount != 2 -%}
        </div>
    {%- endif -%}
    </div>
{%- endif -%}

<h1>Partners</h1>

<p>We would like to thank our partners for helping us making this possible.</p>

{%- if partners.size > 0 -%}
    <div>
    {%- assign loopindex = 0 -%}
    {%- for sponsor in partners -%}
        {%- assign rowcount = loopindex | modulo: 4 -%}
        {%- if rowcount == 0 -%}
            <div class="row sponsorrow">
        {%- endif -%}
        
            <div class="col-md-3">
                <a href="{{ sponsor.url }}"><img class="sponsor" src="images/sponsor-{{ sponsor.short }}.png" alt="{{ sponsor.name | escape }}"></a>
            </div>
        
        {%- if rowcount == 2 -%}
            </div>
        {%- endif -%}
        
        {%- assign loopindex = loopindex | plus: 1 -%}
    {%- endfor -%}
    {%- if rowcount != 3 -%}
        </div>
    {%- endif -%}
    </div>
{%- else -%}
    <div>Your logo here!</div>
{%- endif -%}
