---
layout: default
---

{{ content }}

{% assign sorted_speakers = site.data.speakers | sort:'lastname' %}
{%- for speaker in sorted_speakers -%}
    <a name="{{ speaker.short }}" class="offsetanchor"></a>
    <div class="row speakerrow">
        <div class="col-md-3">
            <div class="speaker-photo"><img class="sp-image" src="images/speaker-{{ speaker.short }}.png" alt="{{ speaker.name }}"></div>
        </div>
        <div class="col-md-9">
            <div class="name">{{ speaker.name }}</div>
            <div class="title">{{ speaker.title }}</div>
            <div class="links">
                {%- if speaker.links.size > 0 -%}
                    {%- for link in speaker.links -%}
                        <a href="{{ link.url }}">{{ link.title }}</a>
                        &nbsp;-&nbsp;
                    {%- endfor -%}
                {%- endif -%}
                <a href="schedule.html#{{ speaker.slot }}">Talk Slot</a>
            </div>

            {%- for abstracttext in speaker.abstract -%}
            <div class="abstract">
                {{ abstracttext }}
            </div>
            {%- endfor -%}

            {%- for biotext in speaker.bio -%}
            <div class="bio">
                {{ biotext }}
            </div>
            {%- endfor -%}
        </div>
    </div>
    
{%- endfor -%}

